.cartTable {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1000px;   
    align-items: center;
    
}

.cartTableHead {
    background-color: #4C304F;
    color: white;
}

.cartItemRow {
    align-items: center;
}

.cartWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* position: relative; */
}