.cartTable {
    width: 961px;
    margin: 0 auto;
    border-spacing: 0;
}

.cartTableHead {
    background-color: #4C304F;
    color: white;
    
    font-size: 22px;
}

.cartTableHead th {
    padding: 24px 0;
}

/* .cartItemRow {
    align-items: center;
}

.cartWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative; 이건 원래 주석처리 돼있었음
} */