.cartItemName {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cartItemName img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    margin: 15px;
    border: 3px solid #4C304F;
}

.cartItemName p {
    font-size: 22px;
}

.cartItemRow td {
    text-align: center;
    font-size: 22px;
    padding: 0 23px;
    /* border: black 1px solid; */
}

.qtyController {
    font-size: 22px;
}

.cartItemRow button {
    all: unset;
}

.cartItemRow button img {
    width: 20px;
    height: 20px;
}

.count {
    padding: 15px;
    font-size: 22px;
}

.cartDelBtn img {
    width: 23px;
    height: 23px;
}

.cartItemRow:nth-child(even) {
    background: #D4D8DB;
}
.cartItemRow:nth-child(odd) {
    background: white;
}

.cartItemPrice {
    color: #4C304F;
    font-weight: bold;
}

.cartEachPrice {
    color: #4C304F;
    font-weight: bold;
}
