.footerMenu {
    display: flex;
}

.footerMenu ul {
    display: flex;
}

.footerMenu ul li {
    list-style: none;
    color : #5D436C;
    font-size: 35px;
    font-weight: bold;
    padding-left: 13px;
}

.pre_btn {
    border-color: #5D436C;
    border: 3px solid #5D436C;
    width: 230px;
    height: 83px;
    border-radius: 25px;
    box-sizing: border-box;
    padding-top: 18px;
    margin-left: 60px;
}

.next_btn {
    background-color: #56565B;
    width: 622px;
    height: 83px;
    border-radius: 25px;
    box-sizing: border-box;
    padding-top: 12px;
    display: flex;
    padding-top: 20px;
    margin-left: 50px;
}

.next_btn ul li {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 600;
}

.next_btn ul li:first-child {
    padding-left: 60px;
}

.next_btn ul li:nth-child(2){
    margin-top: -5px;
    padding-left: 130px
}

.next_btn ul li:nth-child(3){
    padding-left: 28px
}

.next_btn ul li:last-child {
    padding-left: 30px;
}