.logo {
    margin-top: 18px;
    margin-left: 30px;
}

.headerMenu {
    display: flex;
    margin-top: 10px;
    box-sizing: border-box;
}

.logoBox {
    display: flex;
    margin-right: auto;
}

.title {
    font-size: 35px;
    font-weight: normal;
    padding-top: 40px;
    padding-right: 450px;
    margin-left: 10px;
}

.button {
    margin-left: auto;
}