.topWrap h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #4C304F;
    font-weight: 500;
    padding-bottom: 27px;
    padding-top: 20px;
}

.topWrap p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 42px;
    color: #4C304F;
}

.confirmBtn {
    display: flex;
    justify-content: center;
    width: 169px;
    height: 60px;
    /* border: 1px solid #4C304F; */
    border-radius: 10px;
    align-items: center;
    margin: 0 auto;
    background-color: #ffffff;
}

.confirmBtn p {
    padding-top: 48px;
    padding-left: 10px;
}