.categoryNav {
    width: 1000px;
    height: 30px;
    background-color: #56565B;
    align-items: center;
    border-radius: 14px;
    margin-top: 20px;
    margin-left: 12px;
    padding-left: 40px;
    margin-bottom: 12px;
}

.categoryNav ul {
    display: flex;
    font-size: 17px;
}

.categoryNav ul li {
    list-style: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 4px;
    font-weight: 500;
    justify-content: center;
}

li.active {
    background-color: #E0C798;
    color: white;
}

li.deactive {
    background-color: #56565B;
    color: gray;
}

.productList {
    padding-left: 20px;
    width: 1000px;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

.productItem {
    padding-left: 30px;
    height: 50px;
    transition-duration: 0.5s;
}

.productItemName {
    width: 200px;
    text-align: center;
    padding: 3px;
    font-weight: bold;
    font-size: 22px;
}

.productItemPrice {
    width: 200px;
    padding: 3px;
    text-align: center;
    /* font-weight: bold; */
    font-size: 22px;
}

.eventProductItem {
    color: red;
    font-weight: bold;
    text-align: center;
}

.notEventProductItem {
    display: none;
}

.cartList {
    width: 95%;
    padding: 1rem 0;
    margin: 0 auto;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.cartList::-webkit-scrollbar {
    display: none;
}

.cartWrap {
    margin-right: 0.5rem;
    height: 200px;
}