.categoryNav {
    /* width: 1000px;
    height: 30px;
    background-color: #56565B;
    align-items: center;
    border-radius: 14px;
    margin-top: 20px;
    margin-left: 12px;
    padding-left: 40px;
    margin-bottom: 12px; */
    width: 1000px;
    height: 83px;
    background-color: #56565B;
    color: #989DA1;
    align-items: center;
    border-radius: 14px;
    margin-top: 20px;
    margin-left: 12px;
    /* margin-bottom: 37px; */
}

.categoryNav ul {
    /* display: flex;
    font-size: 17px; */
    display: flex;
    font-size: 23px;
    /* font-size: 28px; */
    justify-content: center;
    align-items: center;
}

.categoryNav ul li {
    /* list-style: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 4px;
    font-weight: 500;
    justify-content: center; */
    list-style: none;
    margin: 15px 0;
    font-weight: 500;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 53px;
    border-radius: 8px;
    display: flex;
}

li.active {
    background-color: #E0C798;
    color: white;
}

li.deactive {
    background-color: #56565B;
    color: gray;
}

/* .productList {
    width: 1020px;
    height: 760px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
} */

.productItem {
    /* padding-left: 30px;
    height: 50px; */
    transition-duration: 0.5s;
    padding: 0 14px;
}

.productItem img {
    border-radius: 30px;
    border : solid 3px #4C304F;
    margin-top: 35px;
    /* margin-top: 30px; */
}

.productItemName {
    width: 210px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding-top: 20px;
}

.productItemPrice {
    width: 200px;
    padding: 3px;
    text-align: center;
    font-size: 22px;
    color: #4C304F;
    font-weight: bold;
    Padding-top: 10px;
}

.productItemPrice span {
    font-size: 15px;
    padding-left: 1px;
    font-weight: bold;
}

.eventProductItem {
    color: red;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
}

.notEventProductItem {
    display: none;
}

.cartList {
    /* width: 95%; */
    padding: 1rem 1rem;
    margin: 0 auto;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 942px;
    height: 281px;
    border :#E0C798 solid 5px;
    border-radius: 30px;
    box-sizing: border-box;
}

.cartList img {
    width: 140px;
    height: 140px;
    border-radius: 30px;
    border : solid 3px #4C304F;
    /* margin-bottom: 0.5rem; */
}

.cartList::-webkit-scrollbar {
    display: none;
}

.cartWrap {
    /* margin-right: 0.5rem; */
    height: 200px;
    padding: 0 1rem;
}

.footer {
    display: flex;
    padding: 2rem 0;
}

.barcodeInputBox {
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    transform: translate(-100%, -100%);
}

.productList {
    width: 1020px;
    height: 760px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}
/* .productList > div {
    .productImg {
      &:before {
        content:'1';
        display:block;
        line-height:24px;
        height:24px;
        width:24px;
        font-size:12px;
        font-weight:600;
        background:#2bd156;
        color:white;
        border-radius:20px;
        text-align:center;
      }
    }
    &.sendtocart {
      .cart-item {
        display:block;
        animation: xAxis 1s forwards cubic-bezier(1.000,0.440,0.840,0.165);
        &:before {
          animation: yAxis 1s alternate forwards cubic-bezier(0.165, 0.840, 0.440, 1.000);
        }
      }
    }
  } */

@keyframes xAxis {
  100% {
    transform: translateX(calc(50vw - 105px));
  }
}

@keyframes yAxis {
  100% {
    transform: translateY(calc(-50vh + 75px));
  }
}