.main {
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.font {
    display: flex;
    justify-content: center;
    margin-top: -100px;
    color: #4C304F;
    font-size: 21px;
    font-weight: 1
  }

.main h1 {
    text-align: center;
    line-height: 1.6;
  }